.tempVals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.val {
  margin: 0 30px;

}

.container-search {
    width: 100%;
    height: 90vh;
    position: absolute;
    padding-top: 55px;
}

.GMap-canvas {
    top: 20px;
    display: block;
    width: 41%;
    height: 90vh;
    float: right;
}

.cards-container {
    width: 59%;
    float: left;
    background: white;
}

.UpdatedText {
    color: red;
}

.price {
    color: white;
}

.date-panel {
    border-top: 1px solid RGBA(100,100,100,0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 10;
    position: relative;
    margin: 15px 0 0;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.dates-panel-label {
  margin-left: 8px;
}

.room-panel {
    border-top: 1px solid RGBA(100,100,100,0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 10;
    position: relative;
    // margin: 15px 0 0;
    box-sizing: border-box;
    font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.dates {
    font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #484848;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding-top: 4px;
}

//Section Searchbox
.date-picker{
  width: 70%;
}

.SearchBar {
    box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb;
    font: 11px BlinkMacSystemFont;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-rendering: auto;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    line-height: normal;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial", sans-serif;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
    border: 1px solid #c4c4c4;
    display: block;
    padding: 8px 10px;
    // width: 100%;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    height: 50px;
    width: 200px;
}

.DatePicker {
    float: left;
}

.SearchBarContainer {
  // border: 2px dotted red;
}

.selectGuest {
    box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb;
    text-align: start;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0;
    text-shadow: none;
    align-items: center;
    overflow: visible !important;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial", sans-serif;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
    display: block;
    padding: 8px 10px;
    -webkit-appearance: none;
    padding-right: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 120px;
    font-size: 17px;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background: URL('../../assets/images/down-arrow.png');
    background-position: right;
    background-repeat: no-repeat;
    background-color: white;
    height: 50px;
}

.SearchBtn {
    box-sizing: border-box;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial", sans-serif;
    text-indent: 0;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0;
    -webkit-appearance: button;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-bottom: 0;
    background: white;
    font-size: 16px;
    display: block;
    white-space: normal;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: #ff5a5f;
    border-bottom-color: #e00007;
    background-color: #ff5a5f;
    color: #fff;
    width: 150px;
}

.room-type-container {
  background: #EDEFED;
  width: 160px;
  height: 40px;
  margin: 0 0 0 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.room-types-header {
  display: inline-block;
  margin-left: 20px;
  padding:12px;
}

.room-type-checkbox-section {
  padding: 10px 5px 0 0;
}

.checkbox {
  margin-left: 5px;
  margin-right: 5px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    height: 1.25em;
    width: 1.25em;
    margin-bottom: -0.25em;
    vertical-align: top;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
    border: 1px solid grey;
}

input[type='checkbox']:checked:before {
  content: "\2713";
  font-size: 1em;
  margin-left: 2px;
  margin-bottom: 2px;
  text-align: center;
  width: 1.25em;
  color: #ff5a5f;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  // width: 60%;
  position:absolute;
  left: 50%;
  top: 50%;
  transform: (translate(-50%, -50%));
}

.room-type-icon {
  margin: 0;
  padding: 0 0 0 5px;
  width: auto;
}

.rheostat-container {
  margin-top: 15px;
  width: 100%;
}

.rheostat {
    margin: auto;
    width: 85%;
    position: relative;
    height: 24px;
    overflow: visible;
    margin-bottom: 12px;
    display: block;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fcfcfc;
    position: relative;
}

.rheostat-background {
    background: #BBBBBB;
    height: 2px;
    position: relative;
    top: 14px;
    width: 100%;
    display: block;
    font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.rheostat-progress {
    background-color: #FF5A5F;
    position: absolute;
    height: 3px;
    width: 100%;
    margin-top: 12px;
    margin-left: 4px;
}

.rheostat-handle {
    left: 0;
    position: absolute;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    height: 24px;
    margin-left: -12px;
    outline: none;
    z-index: 2;
    width: 24px;
    font-size: 0;
    line-height: inherit;
    font-family:inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: button;
    text-transform: none;
    margin: 0;
    align-items: flex-start;
    text-align: center;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0;
    text-shadow: none;
    font: 11px BlinkMacSystemFont;
    box-sizing: border-box;
}

.rheostat-handle:after,
.rheostat-handle:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #dadfe8;
}

.arrayOfSliders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // border: 1px dotted teal;
  width: 100%;
  height: 700px;
  background: #F5F5F5;
  padding-top: 30px;
  overflow: scroll;
}

.slider-container {
  margin: 0 20px;
  width: 400px;
  // border: 1px dotted red;
  box-sizing: border-box;
  height: 290px;
  position: relative;
}

.img-container {
  width: 400px;
  height: 210px;
  overflow: hidden;
  // border: 1px dotted blue;
}

.price-inside-img {
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  top: 160px;
  background: rgba(45,45,45,0.9);
  padding: 7px 15px 7px 15px;
}

.slider-img {
  width: 100%;
}

.panel-card-section {
  padding: 12px 15px 12px 15px;
}

.img-title {
  font-size: 16px;
  line-height: 1.1;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  color: #525252;
  margin: 0px;
}

.room-type-card-section {
  color: #9d9d9d;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  margin-top: 4px;
}

.prev-arrow {
  position: absolute;
  top: 70px;
  z-index: 10;
  left: 15px;
  text-shadow: 1px 1px #dddddd;
}

.next-arrow {
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 70px;
  text-shadow: 1px 1px #dddddd;
}
