.cnt-sm-left-md{
  text-align: center;
}
.about-body{
  padding-left: 10vw;
  padding-right: 10vw;
}
.header-picture{
  height: 400px;
  width: auto;
}
.pics-slider {
  overflow: hidden;
}

.prev-arrow-header {
  position: absolute;
  top: 200px;
  z-index: 10;
  left: 15px;
  text-shadow: 0px 0px 3px #555;
}

.next-arrow-header {
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 200px;
  text-shadow: 0 0 3px #555;
}

@media (min-width: 768px) {
  .cnt-sm-left-md{
    text-align: left;
  }
  .about-body{
    padding: 15px;
  }
  .header-picture{
    height: 460px;
    width: auto;
  }

}
@media (min-width: 1128px) {
  .header-picture{
    height: 550px;
    width: auto;
  }
}
