.row {
    margin: 0;
}
//for OUR COMMUNITY
// .cover {
//   position: absolute;
//   height: 200%;
//   width: 100%;
//   opacity: 0;
//   background: rgba(0,0,0,.5);
// }
// #pictureOne:hover .cover {
//   opacity: 1;
// }
#picture {
  position: relative;
}
#picture:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.1;
}
