$light: #FAFAFA;
$medium: #E6E6E6;
$dark: #A2A2A2;
$darkest: #4B4B4B;


.room-parent-container {
  margin-top: 67px;
  font-family: 'Roboto';
  color: #4B4B4B;
  width: 100vw;
  height: 100vh;
}
.progress-bar-container {
  height: 40px;
  width: 100vw;
}
.progress-items {
  visibility: hidden;
}
.active-tab {
  padding: 12px 14px;
  font-size: 16px;
  width: 16.666666666666668%;
  max-width: 100%;
  background-color: #E6E6E6;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 1px solid #dce0e0;
  float: left;
}
.inactive-tab {
  padding: 12px 14px;
  font-size: 16px;
  width: 16.666666666666668%;
  max-width: 100%;
  background-color: #FAFAFA;
  outline: 1px solid #dce0e0;
  float: left;
  text-overflow: ellipsis;
}
.inactive-tab:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}
.content {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.form-side {
  width: 100%;
  height: 90vh;
  background-color: white;
  display: flex;
}
.form-container {
  width: 484px;
  height: 550px;
  margin: 0 0 0 0;
  .form-title-large {
    color: $darkest;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .form-title-medium {
    color: $dark;
    font-size: 18px;
    font-weight: 300;
  }
}
.button-container {
  width: 320px;
  border: 1px solid $medium;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  .placetype-icon {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50px;
  }
}
.drop-down-menu {
  border: 1px solid $medium;
  border-radius: 4px;
  height: 65px;
  width: 320px;
  margin-top: 4px;
}
.step-nav {
  height: 100px;
  width: 100%;
  border-top: 1px solid $medium;
  margin-top: 100px;
  .back-next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
}
.incrementer {
  @extend .drop-down-menu;
  padding: 22px 0 0 20px;
  .increment-label {
    color: $dark;
    padding-left: 6px;
  }
  .increment-number {
    color: $medium;
  }
  .subtract {
    background: none;
    border: none;
    border-left: 1px solid $medium;
    font-size: 42px;
    font-weight: 300;
    width: 63px;
    margin-top: -22px;
    color: $medium;
  }
  .add {
    @extend .subtract;
    color: $dark;
  }
}
.clicker {
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.instruction-side{
  display: none;

}
.note-container {
  height: auto;
  width: 320px;
  padding: 26px;
  margin: 50px 0 0 26px;
  background-color: white;
  border: 1px solid $medium;
  border-radius: 3px;
  .note {
    width: 254px;
    // height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .note-title {
    color: $darkest;
  }
  .note-content {
    color: $dark;
    margin-top: 3px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
  }
}

@media (min-width: 797px) {
  .instruction-side {
    display: block;
    width: 44%;
    height: 90vh;
    background-color: #FAFAFA;
  }
  .form-side {
    width: 56%;
    justify-content: flex-end;
  }
  .form-container {
    margin: 50px 20px 0 0;
  }
  .progress-items {
    visibility: visible;
  }
}
